name: Publish to Testflight

on:
  push:
    branches:
      - ios-deploy
    tags:
      - v*

jobs:
  publish-to-testflight:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Upload app to App Store Connect
        run: |
          echo "APP_STORE_CONNECT_USERNAME=${{ secrets.EXPO_APPLE_ID }}" >> $GITHUB_ENV
          echo "APP_STORE_CONNECT_PASSWORD=${{ secrets.APP_SPECIFIC_PASSWORD }}" >> $GITHUB_ENV
          curl -Ls https://git.io/JIgx5 | grep -wo "https.*.ipa" | wget -qi -
          xcrun altool --upload-app -t ios -f csdguidelines.ipa -u "$APP_STORE_CONNECT_USERNAME" -p "$APP_STORE_CONNECT_PASSWORD"
