name: Publish to Testflight

on:
  push:
    branches: [ master ]

jobs:
  publish-to-testflight:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - uses: expo/expo-github-action@v5
        with:
          expo-version: 3.x
          expo-username: ${{secrets.EXPO_CLI_USERNAME}}
          expo-password: ${{secrets.EXPO_CLI_PASSWORD}}
          expo-cache: true 
      - name: Install deps
        run: yarn install
      - name: Upload iOS app
        run: |
          echo "EXPO_APPLE_ID=${{secrets.EXPO_APPLE_ID}}" >> $GITHUB_ENV
          echo "EXPO_APPLE_PASSWORD=${{secrets.APP_SPECIFIC_PASSWORD}}" >> $GITHUB_ENV
          expo upload:ios --latest --app-name "CSD Guidelines" --apple-id "$EXPO_APPLE_ID"
